services:
  authentication:
    container_name: ot_authentication # Corrected typo
    build:
      context: .
      dockerfile: ./apps/authentication/Dockerfile
    volumes:
      - ./dist/apps/authentication:/usr/src/app
      - /usr/src/app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  ot-client-interface:
    container_name: ot_client_interface # Added
    build:
      context: .
      dockerfile: ./apps/client-interface/Dockerfile
    volumes:
      # The new Dockerfile handles copying built assets, so direct volume mounting of dist might conflict or be unnecessary for SSR.
      # For development with hot-reloading of the SSR server, a different approach might be needed.
      # This setup assumes the Dockerfile's build process is the source of truth for the container's content.
      # If live-reloading of the Node.js server is desired, the command and volumes would need to be adjusted similar to other Node.js services.
      # For now, we remove the previous volume mounts and command that were specific to Nginx and static file serving.
      - ./apps/client-interface:/app/apps/client-interface # Mount the source code for potential rebuilds if command is adapted
      - ./libs:/app/libs # Mount libs if they are part of the build
      - ./dist/apps/client-interface:/app/dist/apps/client-interface # Mount the built dist for SSR
      - /usr/src_app/node_modules # Keep node_modules from the image
    ports:
      - '8080:4000' # Match the new exposed port
    # The command from the Dockerfile is `node dist/apps/client-interface/server/main.js`
    # For development, you might want to use nodemon or similar for the SSR server.
    # Example for nodemon (ensure nodemon is in your project or installed in the image for dev):
    command:
      [
        'dumb-init',
        'nodemon',
        '/app/dist/apps/client-interface/server/server.mjs',
      ]
    environment:
      - NODE_ENV=development

  forgeofwill-client-interface:
    container_name: fow_client_interface # Added
    build:
      context: .
      dockerfile: ./apps/forgeofwill/Dockerfile
    volumes:
      - ./apps/forgeofwill:/app/apps/forgeofwill
      - ./libs:/app/libs
      - ./dist/apps/forgeofwill:/app/dist/apps/forgeofwill
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command:
      ['dumb-init', 'nodemon', '/app/dist/apps/forgeofwill/server/server.mjs']
    environment:
      - NODE_ENV=development

  digital-homestead-client-interface:
    container_name: dh_client_interface # Added
    build:
      context: .
      dockerfile: ./apps/digital-homestead/Dockerfile
    volumes:
      - ./apps/digital-homestead:/app/apps/digital-homestead
      - ./libs:/app/libs
      - ./dist/apps/digital-homestead:/app/dist/apps/digital-homestead
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command:
      [
        'dumb-init',
        'nodemon',
        '/app/dist/apps/digital-homestead/server/server.mjs',
      ]
    environment:
      - NODE_ENV=development

  crdn-client-interface:
    container_name: crdn_client_interface # Added
    build:
      context: .
      dockerfile: ./apps/christopherrutherford-net/Dockerfile
    volumes:
      - ./apps/christopherrutherford-net:/app/apps/christopherrutherford-net
      - ./libs:/app/libs
      - ./dist/apps/christopherrutherford-net:/app/dist/apps/christopherrutherford-net
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command:
      [
        'dumb-init',
        'nodemon',
        '/app/dist/apps/christopherrutherford-net/server/server.mjs',
      ]
    environment:
      - NODE_ENV=development

  gateway:
    container_name: ot_gateway # Added
    build:
      context: .
      dockerfile: ./apps/gateway/Dockerfile.dev
    volumes:
      - ./dist/apps/gateway:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', '--inspect=0.0.0.0:9000', 'main.js']
    ports:
      - '3300:3300' # expose chat socket
      - '9000:9000' # Expose the debugging port
    environment:
      - NODE_ENV=development
    depends_on:
      postgres: # Added
        condition: service_healthy # Added
      authentication:
        condition: service_started
      ot-client-interface:
        condition: service_started
      forgeofwill-client-interface:
        condition: service_started
      digital-homestead-client-interface:
        condition: service_started
      profile:
        condition: service_started
      social:
        condition: service_started
      project-planning:
        condition: service_started
      chat-collector:
        condition: service_started
      assets:
        condition: service_started
      prompt-proxy:
        condition: service_started
      ai-orchestration:
        condition: service_started
      telos-docs-service:
        condition: service_started
      blogging:
        condition: service_started

  profile:
    container_name: ot_profile
    build:
      context: .
      dockerfile: ./apps/profile/Dockerfile
    volumes:
      - ./dist/apps/profile:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  project-planning:
    container_name: ot_project_planning
    build:
      context: .
      dockerfile: ./apps/project-planning/Dockerfile
    volumes:
      - ./dist/apps/project-planning:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  social:
    container_name: ot_social
    build:
      context: .
      dockerfile: ./apps/social/Dockerfile
    volumes:
      - ./dist/apps/social:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  chat-collector:
    container_name: ot_chat_collector
    build:
      context: .
      dockerfile: ./apps/chat-collector/Dockerfile
    volumes:
      - ./dist/apps/chat-collector:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  # tasks:
  #   container_name: ot_tasks
  #   build:
  #     context: .
  #     dockerfile: ./apps/tasks/Dockerfile
  #   volumes:
  #     - ./dist/apps/tasks:/usr/src_app
  #     - /usr/src_app/node_modules # Ensures node_modules from the image are used
  #   command: ["dumb-init", "nodemon", "-L", "main.js"]
  #   environment:
  #     - NODE_ENV=development
  #   depends_on: # Added
  #     postgres:
  #       condition: service_healthy

  assets:
    container_name: ot_assets
    build:
      context: .
      dockerfile: ./apps/assets/Dockerfile
    volumes:
      - ./dist/apps/assets:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on:
      postgres:
        condition: service_healthy

  blogging:
    container_name: ot_blogging
    build:
      context: .
      dockerfile: ./apps/blogging/Dockerfile
    volumes:
      - ./dist/apps/blogging:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on:
      postgres:
        condition: service_healthy
  ai-orchestration:
    container_name: ot_ai_orchestration
    build:
      context: .
      dockerfile: ./apps/ai-orchestrator/Dockerfile
    volumes:
      - ./dist/apps/ai-orchestrator:/usr/src_app
      - ./apps/ai-orchestrator/src/assets:/usr/src/assets # Mount assets for AI Orchestrator
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  prompt-proxy:
    container_name: ot_prompt_proxy
    build:
      context: .
      dockerfile: ./apps/prompt-proxy/Dockerfile
    volumes:
      - ./dist/apps/prompt-proxy:/usr/src_app
      - ./apps/prompt-proxy/src/assets:/usr/src/assets # Mount assets for prompt proxy
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  telos-docs-service:
    container_name: ot_telos_docs_service
    build:
      context: .
      dockerfile: ./apps/telos-docs-service/Dockerfile
    volumes:
      - ./dist/apps/telos-docs-service:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy

  permissions:
    container_name: ot_permissions
    build:
      context: .
      dockerfile: ./apps/permissions/Dockerfile
    volumes:
      - ./dist/apps/permissions:/usr/src_app
      - /usr/src_app/node_modules # Ensures node_modules from the image are used
    command: ['dumb-init', 'nodemon', '-L', 'main.js']
    environment:
      - NODE_ENV=development
    depends_on: # Added
      postgres:
        condition: service_healthy
