<div class="section-container">
    <div class="top-row">
        <div class="tile">
            <otui-heading [text]="'Digital Grange'" [size]="'1.5rem'" color="#fff"></otui-heading>
            <p>Seeding the future of work, one homesteader at a time.</p>
        </div>
        <div class="tile">
            <otui-heading [text]="'Connect'" [size]="'1.25rem'" color="#fff"></otui-heading>
            <p>Stay connected with us through our social media channels.</p>
        </div>
    </div>
    <div class="bottom-row">
        <p>© 2025 Digital Homestead. All rights reserved.</p>
    </div>
</div>