/* You can add global styles to this file, and also import other style files */
.heading {
    font-family: 'Farro', sans-serif;
    margin-bottom: 40px;
}
button{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: var(--background-color);
    /* Use accent color variable for SVG fill via mask and background-color */
    -webkit-background-image: var(--background-pattern);
    background-image: var(--background-pattern);
    -webkit-background-repeat: repeat;
    background-repeat: repeat;
    background-size: 52px 52px;
}
p{
  font-family: 'Oranienbaum', serif;
  line-height: 1.6;
  font-size: 18px;
}
.utility-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}