<otui-tile class="contact-heading">
  <span class="section-kicker">Contact</span>
  <otui-heading
    [text]="'If the work needs another set of senior hands, reach out'"
    [size]="'2em'"
  ></otui-heading>
  <p class="section-intro">
    If you have a product that needs building, a system that needs cleanup, or
    delivery work that needs a steadier shape, send a note with what is going on
    and where you want to get it.
  </p>
</otui-tile>
<lib-contact-form
  [subjects]="subjects"
  [bannerImage]="
    'https://fastly.picsum.photos/id/876/1200/300.jpg?hmac=PYu7elypyS9RmFSMJwEADHRZ9VoNICcFdVHC52lEq9Y'
  "
  (formSubmit)="onContactFormSubmit($event)"
></lib-contact-form>
