// * {
//   outline: 1px solid red; /* Debugging borders */
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

:host, dh-root, dh-title-bar, router-outlet {
  display: block;
  width: 100vw;
  max-width: 100vw;
}
body {
    background-color: var(--background-color);
    /* Use accent color variable for SVG fill via mask and background-color */
    -webkit-background-image: var(--background-pattern);
    background-image: var(--background-pattern);
    -webkit-background-repeat: repeat;
    background-repeat: repeat;
    background-size: 52px 52px;
}