<div class="landing-page">
  <otui-heading
    [text]="'Welcome to Optimistic Tanuki'"
    [size]="'2em'"
  ></otui-heading>
  <otui-heading
    [text]="'A mindful social media experience'"
    [size]="'1.5em'"
  ></otui-heading>

  <otui-grid [columns]="3" [rows]="1">
    <otui-tile>
      <otui-card>
        <h3>Mindful Posting</h3>
        <p>Encouraging thoughtful and balanced interactions.</p>
      </otui-card>
    </otui-tile>
    <otui-tile>
      <otui-card>
        <h3>Supportive Community</h3>
        <p>Fostering uplifting and supportive connections.</p>
      </otui-card>
    </otui-tile>
    <otui-tile>
      <otui-card>
        <h3>Rich Features</h3>
        <otui-list [items]="featureItems" [type]="'block-list'"></otui-list>
      </otui-card>
    </otui-tile>
  </otui-grid>
</div>
