<div class="aboutGrid">
    <otui-heading 
        [text]="'From Code  to Community:'" 
        [size]="'2rem'" 
        [color]="'#fff'"
        class="col-2-6"
        style="text-align: center;"
    ></otui-heading>
    <otui-heading 
        [text]="'My Path in Software Engineering & Beyond'" 
        [size]="'2rem'" 
        [color]="'#fff'"
        class="col-2-6"
        style="text-align: center;"
    ></otui-heading>

    <otui-tile class="col-3 row-3">
        <p>My journey in software engineering has been driven by a passion for building robust, scalable solutions and a deep commitment to fostering supportive communities. From architecting microservice platforms to automating complex billing processes, my experience has equipped me with the skills to tackle diverse technical challenges.</p>
    </otui-tile>
    <otui-tile class="col-3 row-4">
        <p>At Blockstream, I developed a monetized API dashboard and architected a microservice-based miner hosting platform, emphasizing scalability and maintainability. My time at Polymorph, Inc. further honed my full-stack capabilities, leading platform migrations to Google Cloud and implementing project management workflows. At OnCare, I focused on improving developer quality of life and establishing Angular best practices, while at Dittach, I worked on Node.js services and Google authorization for Chrome extensions.</p>
    </otui-tile>
    <otui-tile class="col-3 row-5">
        <p>Throughout my career, I've embraced roles that involve not just writing code, but also providing mentorship, establishing standards, and unifying development efforts. My background in support and software development fuels my current drive to build strong communities, both for myself and for the broader independent workforce. I believe technology is a powerful enabler for independence, and collective effort can unlock unprecedented success.</p>
    </otui-tile>

    <otui-tile class="col-5 row-3" style="height: 100%;">
        <otui-heading [text]="'Languages'" [size]="'1.5rem'" [color]="'#fff'"></otui-heading>
        <div class="utility-grid">
            <div class="item">
                <img src="/assets/images/js-logo.png" alt="Javascript Logo" >
                <p>JavaScript</p>
            </div>
            <div class="item">
                <img src="/assets/images/ts-logo.png" alt="TypeScript Logo" >
                <p>TypeScript</p>
            </div>
            <div class="item">
                <img src="/assets/images/py-logo.png" alt="Python Logo" >   
                <p>Python</p>
            </div>
            <div class="item">
                <img src="/assets/images/cs-logo.png" alt="">
                <p>C#</p>
            </div>
        </div>
    </otui-tile>
    <otui-tile class="col-5 row-4" style="height: 100%;">
        <otui-heading [text]="'Cloud/DevOps'" [size]="'1.5rem'" [color]="'#fff'"></otui-heading>
        <div class="utility-grid">
            <div class="item">
                <img src="/assets/images/docker.png" alt="Docker Logo">
                <p>Docker</p>
            </div>
            <div class="item">
                <img src="/assets/images/kubernetes.png" alt="Kubernetes Logo">
                <p>Kubernetes</p>
            </div>
            <div class="item">
                <img src="/assets/images/azure.png" alt="Azure Logo">
                <p>Azure</p>
            </div>
            <div class="item">
                <img src="/assets/images/aws.webp" alt="AWS Logo">
                <p>AWS</p>
            </div>
            <div class="item">
                <img src="/assets/images/gcloud.png" alt="Gcloud Logo">
                <p>Gcloud</p>
            </div>
        </div>
    </otui-tile>
    <otui-tile class="col-5 row-5" style="height: 100%;">
        <otui-heading [text]="'Databases'" [size]="'1.5rem'" [color]="'#fff'"></otui-heading>
        <div class="utility-grid">
            <div class="item">
                <img src="/assets/images/mongodb.png" alt="MongoDB Logo">
                <p>MongoDB</p>
            </div>
            <div class="item">
                <img src="/assets/images/postgres.png" alt="PostgreSQL Logo">
                <p>PostgreSQL</p>
            </div>
            <div class="item">
                <img src="/assets/images/mysql.png" alt="MySQL Logo">
                <p>MySQL</p>
            </div>
            <div class="item">
                <img src="/assets/images/redis.svg" alt="Redis Logo">
                <p>Redis</p>
            </div>
        </div>
    </otui-tile>
    <otui-tile class="col-4 row-3-6" style="height: 100%;">
        <otui-heading [text]="'Frameworks'" [size]="'1.5rem'" [color]="'#fff'"></otui-heading>
        <div class="utility-grid">
            <div class="item">
                <img src="/assets/images/angular-logo.gif" alt="Angular Logo">
                <p>Angular</p>
            </div>
            <div class="item">
                <img src="/assets/images/react.svg" alt="React Logo">
                <p>React</p>
            </div>
            <div class="item">
                <img src="/assets/images/express-js.png" alt="Express.js Logo">
                <p>Express.js</p>
            </div>
            <div class="item">
                <img src="/assets/images/nestjs.svg" alt="NestJS Logo">
                <p>NestJS</p>
            </div>
            <div class="item">
                <img src="/assets/images/asp-net.png" alt="ASP.NET Logo">
                <p>ASP.NET</p>
            </div>
            <div class="item">
                <img src="/assets/images/fastapi.svg" alt="FastAPI Logo">
                <p>FastAPI</p>
            </div>
        </div>
    </otui-tile>
    <otui-tile class="col-2 row-3-5" style="height: 100%;">
        <otui-heading [text]="'Other Technologies & Disciplines'" [size]="'1.5rem'" [color]="'#fff'"></otui-heading>
        <div class="utility-grid">
            <div class="item">
                <img src="/assets/images/git.png" alt="Git Logo">
                <p>Git</p>
            </div>
            <div class="item">
                <img src="/assets/images/chrome.jpg" alt="Chrome Logo">
                <p>Chrome Extensions</p>
            </div>
            <div class="item">
                <img src="/assets/images/process-analytics.png" alt="Process Analytics Logo">
                <p>Process Analytics and Automation</p>
            </div>
            <div class="item">
                <img src="/assets/images/microservice.png" alt="Microservices Logo">
                <p>Microservice Architecture</p>
            </div>
        </div>
    </otui-tile>
</div>
