    <div class="content-overlay">
        <div class="content-body">
            <otui-heading [size]="'5rem'" text="Digital Homesteading"></otui-heading>
            <br />
            <otui-heading [size]="'2rem'" text="Ownership of your online world."></otui-heading>
            <br />
            <p>Take control of your digital presence and ensure your voice is heard. Digital Homesteading is the practice of owning your presence and place online. Just like you would want to own your own home, you would want to own your own place on the internet for you and your things.</p>
            <p>By embracing Digital Homesteading, you can create a space that reflects your values, interests, and identity. It's about building a digital home where you have the freedom to express yourself and connect with others on your terms.</p>
            <br />
            <otui-button>Learn More!</otui-button>
        </div>
    </div>