    <div class="content-overlay">
        <div class="content-body">
            <otui-heading [size]="'3rem'" text="Digital Homesteading"></otui-heading>
            <br />
            <otui-heading [size]="'1rem'" text="Ownership of your online world."></otui-heading>
            <br />
            <br />
            <p>Take control of your digital presence and ensure your voice is heard. Digital Homesteading is the practice of owning your presence and place online. Just like you would want to own your own home, you would want to own your own place on the internet for you and your things.</p>
            <br />
            <otui-button><a href="#about">Learn More!</a></otui-button>
        </div>
    </div>