.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: rgba(33,33,33,0.15);
    border-radius: 10px;
}
@media (max-width: 768px) {
    .profile-row {
        padding: 1rem;
        flex-direction: column;
    }
}

.heading-container {
    text-align: center;
    margin-bottom: 2rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-row {
    display: flex;
    gap: 40px;
    margin: 40px 0;
    justify-content: space-around;
    width: 100%;
    p {
        margin: 0.5rem;
    }
}
