<otui-tile>
  <otui-heading [text]="'Projects'" [size]="'2em'"></otui-heading>
</otui-tile>
<div class="projectGrid">
  @for (project of portfolioProjects((projects$ | async) ?? []); track
  project.title) {
  <lib-blog-post-card
    [title]="project.title"
    [bannerImage]="project.bannerImage"
    [excerpt]="project.excerpt"
    [readMoreText]="project.readMoreText"
    [readMoreLink]="project.readMoreLink"
    [secondaryButtonText]="project.secondaryButtonText"
    (secondaryButtonAction)="linkTo(project.secondaryButtonLink)"
    [authorName]="''"
    [publishDate]="''"
  ></lib-blog-post-card>
  }
</div>
