.projectGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 40px;
  padding: 10px;
  margin: 2px;
  > * {
    flex: 1 1 calc(33% - 32px); /* 3 items per row with some gap */
    box-sizing: border-box;
    min-width: 250px; /* Ensure a minimum width for smaller screens */
    max-width: 400px; /* Optional: limit max width */
  }
}
.svg-background-in-div {
  position: absolute; /* Positioned relative to .content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Behind the content-inner */
  pointer-events: none; /* Allows clicks to pass through to content if needed */
}

.svg-background-in-div svg {
  width: 100%;
  height: 100%;
  display: block;
}
.project-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-content-container {
    position: relative;
    z-index: 1; /* Ensure content is above the SVG background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    text-align: center;
}