<otui-tile>
  <otui-heading [text]="'Provided Services'" [size]="'2em'"></otui-heading>
</otui-tile>
<div class="projectGrid">
  <lib-blog-post-card
    [title]="'Custom Application Development'"
    [bannerImage]="'assets/images/custom-app.png'"
    [excerpt]="'Offering custom application development solutions tailored to your business needs. Let me handle the technical details while you enjoy the benefits of these powerful tools.'"
    [readMoreLink]="'/services/custom-application-development'"
  >
  </lib-blog-post-card>
  <lib-blog-post-card
    [title]="'IT Consulting'"
    [bannerImage]="'assets/images/consulting.png'"
    [excerpt]="'Have a business? We can help you find the solution right for you! Whether it\'s software development, IT strategy, or support, we\'ve got you covered.'"
    [readMoreLink]="'/services/it-consulting'"
  >
  </lib-blog-post-card>
  <lib-blog-post-card
    [title]="'Private Cloud Services'"
    [bannerImage]="'assets/images/private-cloud.png'"
    [excerpt]="'Unlock the potential of your business with our private cloud solutions. Tailored to your needs, we ensure security, scalability, and control.'"
    [readMoreLink]="'/services/private-cloud'"
  >
  </lib-blog-post-card>
  <lib-blog-post-card
    [title]="'Custom Solutions'"
    [bannerImage]="'assets/images/custom-app.png'"
    [excerpt]="'Have a business? Have a group? Want to provide common tools for your team? Lets discuss how we can create a tailored solution for you with the applications you want.'"
    [readMoreLink]="'/services/custom-solutions'"
  >
  </lib-blog-post-card>
</div>
