<div class="section-container">
    <div class="heading-container">
        <otui-heading [text]="'Stay Informed and Inspired'" [color]="'#000'" [size]="'24px'"></otui-heading>
        <p>Read our latest articles on digital homesteading trends, tips, and stories.</p>
    </div>
    <div class="blog-post-row">
        <otui-tile>
            <div class="card-content">
                <div class="img">
                    <img src="https://placehold.co/300x100" alt="">
                </div>
                <otui-heading [text]="'The Future of Digital Homesteading'" [color]="'#000'" [size]="'18px'"></otui-heading>
                <p>Explore the emerging trends and technologies shaping the future of digital homesteading.</p>
                <div class="read-more">
                    <a href="#">Read More</a>
                </div>
            </div>
        </otui-tile>
        <otui-tile>
            <div class="card-content">
            <div class="img">
                <img src="https://placehold.co/300x100" alt="">
            </div>
            <otui-heading [text]="'Top 10 Tools for Digital Homesteaders'" [color]="'#000'" [size]="'18px'"></otui-heading>
            <p>Discover the essential tools and platforms that can help you build and manage your digital homestead.</p>
            <div class="read-more">
                <a href="#">Read More</a>
            </div>
        </div>
        </otui-tile>
        <otui-tile>
            <div class="card-content">
                <div class="img">
                    <img src="https://placehold.co/300x100" alt="">
                </div>
                <otui-heading [text]="'How to Start Your Digital Homestead'" [color]="'#000'" [size]="'18px'"></otui-heading>
                <p>A step-by-step guide to help you launch your own digital homesteading journey.</p>
                <div class="read-more">
                    <a href="#">Read More</a>
                </div>
            </div>
        </otui-tile>
    </div>
</div>