<otui-card>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            <otui-heading [text]="'Christopher Rutherford'" [size]="'2rem'" [color]="'#fff'"></otui-heading>
        </div>
        <div class="nav-links">
            <otui-heading
                [text]="'Home'"
                [size]="'1.2rem'"
                [color]="'#fff'"></otui-heading>
            <otui-heading
                [text]="'About'"
                [size]="'1.2rem'"
                [color]="'#fff'"></otui-heading>
            <otui-heading
                [text]="'Projects'"
                [size]="'1.2rem'"
                [color]="'#fff'"></otui-heading>
            <otui-heading
                [text]="'Contact'"
                [size]="'1.2rem'"
                [color]="'#fff'"></otui-heading>
        </div>

    </div>
</otui-card>