.heading-container {
    margin: 20px;
    text-align: center;
}
.grid-container {
    margin: 20px;
}

img {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
    margin-bottom: 40px;
}