<div class="heading-container">
    <otui-heading [text]="'Unlocking your potential, '" [size]="'2rem'" color="#000"></otui-heading> <br />
    <otui-heading [text]="'Freedom to express, connect, and create.'" [size]="'2rem'" color="#000"></otui-heading>
</div>
<div class="grid-container">
    <div class="grid">
        <otui-tile>
            <img src="assets/personal-growth.png" alt="Placeholder Image" />
            <!-- <div class="spacer"></div> -->
            <!-- <div class="spacer"></div> -->
            <otui-heading [text]="'Personal Growth'" [size]="'1.25rem'" color="#fff"></otui-heading>
            <p>Invest in yourself and unlock new opportunities. Making conscious decisions about the tools, and how they're implemented in your toolbox makes each Homesteader more self sufficient and able to assist their digital neighbours.</p>
        </otui-tile>
        <otui-tile>
            <img src="assets/community-engagement.png" alt="Placeholder Image" />
            <!-- <div class="spacer"></div> -->
            <otui-heading [text]="'Community Engagement'" [size]="'1.25rem'" color="#fff"></otui-heading>
            <p>Joining a community of homesteaders setting out on the same journey is key to being online for yourself, but not alone. The golden days of the web were really the connections we made, and not the sites the connections were made.</p>
        </otui-tile>
        <otui-tile>
            <img src="assets/creative-expression.png" alt="Placeholder Image" />
            <otui-heading [text]="'Creative Expression'" [size]="'1.25rem'" color="#fff"></otui-heading>
            <p>Maintaining your own online presence allows you to express yourself without fear of being deplatformed or censored. In a digital homestead, you decide who you let in, so only the people that can appreciate your expression will be allowed in.</p>
        </otui-tile>
        <otui-tile>
            <img src="assets/digital-independence.png" alt="Placeholder Image" />
            <otui-heading [text]="'Digital Independence'" [size]="'1.25rem'" color="#fff"></otui-heading>
            <p>Taking control of your online presence and content is a fundamental aspect of digital homesteading. It empowers you to create a space that truly reflects your values and vision. This also frees your data in the digital homestead from data brokers that would be prevalent elsewhere.</p>
        </otui-tile>
    </div>
</div>