<otui-tile style="width: 100%; display: block;">
    <div class="row">
        <img src="assets/digital-grange.png" alt="Digital Grange" width="75px">
        <otui-heading text="Digital Grange" [size]="'2em'">
        </otui-heading>
        <otui-button class="menu-btn" (click)="toggleMenu()">☰</otui-button>
    </div>
</otui-tile>

@if (menuOpen()) {
    <otui-modal heading="Navigation" (closeModal)="toggleMenu()" [mode]="'sidebar-left'">
        <div class="navigation">
            <a href="#about" (click)="toggleMenu()">About</a>
            <a href="#benefits" (click)="toggleMenu()">Benefits</a>
            <a href="#community" (click)="toggleMenu()">Community</a>
            <a href="#resources" (click)="toggleMenu()">Resources</a>
            <a href="#blog" (click)="toggleMenu()">Blog</a>
            <a href="#contact" (click)="toggleMenu()">Contact</a>
        </div>
    </otui-modal>
}
