<otui-tile>
    <div class="row">
        <div class="title">
            <img src="assets/digital-grange.png" alt="Digital Grange" width="75px">
            <otui-heading text="Digital Grange" [size]="'2em'">
            </otui-heading>
        </div>
        <div class="navigation">
            <a href="#about">About</a>
            <a href="#benefits">Benefits</a>
            <a href="#community">Community</a>
            <a href="#resources">Resources</a>
            <a href="#blog">Blog</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
</otui-tile>
