<div class="main-page">
    <div class="main-body">
            <dh-hero></dh-hero>
            <dh-about id="about"></dh-about>
            <dh-benefits id="benefits"></dh-benefits>
            <dh-community id="community"></dh-community>
            <dh-resources id="resources"></dh-resources>
            <dh-blog-section id="blog"></dh-blog-section>
            <dh-contact id="contact"></dh-contact>
    </div>
    <div class="main-footer">
            <dh-footer></dh-footer>
    </div>
</div>