.main-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 10rem; // Adjust this to match the footer height
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: inherit;
    max-height: 10rem; // Set a fixed height for the footer
    margin-top: 0;
    z-index: 100;
}