.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.router-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  
  > * > button {
    width: 100%;
  }
}

.content {
  padding: 1rem;
  width: 100%;
  flex: 1;
}