// In the parent container's styles:
.parent-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

// For the close button:
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #888;
}
.column-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 100%;
    > * {
        width: 100%;
    }
}

.no-project {
    text-align: center;
    font-size: 20px;
    color: var(--foreground-color);
    background: var(--filter-color);
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}