.section-container {
    padding: 2rem;
}

.heading-container {
    margin: 40px auto;
    text-align: center;
    width: 90%;
    background: rgba(255,255,255,0.3);
    color: var(--foreground);
    padding: 40px;
    border-radius: 8px;
} 

.resource-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
margin-top: 40px;
}

@media (max-width: 768px) {
    .resource-row {
        flex-direction: column;
        align-items: center;
    }
    .resource {
        margin: 1rem 0;
        width: 90%;
    }
}
