<div class="section-container">
    <div class="heading-container">
        <otui-heading [text]="'Ready to get started?'" [size]="'2rem'" color="#000"></otui-heading>
        <p>Explore our resources to help you start your Digital Homesteading journey today.</p>
    </div>
    <div class="resource-row">
            <lib-blog-post-card
                [title]="'E-books & Guides'"
                [bannerImage]="'assets/ebooks-guides.png'"
                [excerpt]="'Comprehensive guides to help you build and grow your digital homestead.'"
            >
            </lib-blog-post-card>
            <lib-blog-post-card
                [title]="'Webinars & Workshops'"
                [bannerImage]="'assets/webinars-workshops.png'"
                [excerpt]="'Interactive sessions with experts to deepen your knowledge and skills.'"
            ></lib-blog-post-card>
            <!-- <otui-heading [text]="'Webinars & Workshops'" [size]="'1.25rem'" color="#000"></otui-heading>
            <p>Interactive sessions with experts to deepen your knowledge and skills.</p> -->
            <lib-blog-post-card
                [title]="'Tools & Templates'"
                [bannerImage]="'assets/tools-templates.png'"
                [excerpt]="'Practical resources to streamline your digital homesteading efforts.'"
            ></lib-blog-post-card>
            <lib-blog-post-card
                [title]="'Community Forums'"
                [bannerImage]="'assets/community-forums.png'"
                [excerpt]="'Connect with fellow digital homesteaders to share experiences and advice.'"
            ></lib-blog-post-card>
    </div>
</div>