.section-container {
    padding: 2rem;
}

.heading-container {
    margin: 40px auto;
    text-align: center;
} 

.resource-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .resource-row {
        flex-direction: column;
        align-items: center;
    }
    .resource {
        margin: 1rem 0;
        width: 90%;
    }
}
