<otui-grid [columns]="2" [gap]="'1em'">
  <otui-tile>
    <h2>Tasks</h2>
    @for (task of tasks; track task) {
    <otui-button
      [variant]="
        selectedTask && selectedTask.id === task.id ? 'primary' : 'text'
      "
      (action)="selectTask(task)"
    >
      {{ task.title }}
    </otui-button>
    }
  </otui-tile>
  @if (selectedTask) {
  <otui-tile>
    <otui-card>
      <h3>Details</h3>
      <p>{{ selectedTask.description }}</p>
    </otui-card>
    <otui-card>
      <h3>Timers</h3>
      @for (timer of filteredTimers; track timer) {
      <div>{{ timer.description }} - {{ timer.status }}</div>
      }
    </otui-card>
    <otui-card>
      <h3>Notes</h3>
      @for (note of filteredNotes; track note) {
      <div>{{ note.title }} - {{ note.status }}</div>
      }
    </otui-card>
  </otui-tile>
  }
</otui-grid>
